<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo"><img src="/assets/bochi logo.png" width="80" height="30"> </span>
    </div>

    <ul class="sidenav-nav-item">
        <li> <img src="/assets/Home Icon.png"> <p><a href ="#"> Dashboard</a></p></li>
        <li> <img src="/assets/user icon.png"> <p><a routerLink=""> User Managment</a></p></li>
    </ul>

    <ul class="sidenav-nav-item2">
        <li> <img src="/assets/settings icon.png"> <p><a routerLink="/login"> Settings</a></p></li>
        <li> <img src="/assets/logout icon.png"> <p><a href ="#"> Logout</a></p></li>
    </ul>

        
   
</div>
