
<div class="dashboard">
    <div class="content">
        <header>
            <div class = "text"> 
              
                <span> <3<3<3</span>
          
            </div>
        <div class="userprofile">
            <div class="profile">
                <img src="assets\bochi icon.gif" alt="Profile Picture">
            </div> 
            <div class="login-register dropdown">
                <button class="dropbtn">Login &#9660;</button>
                <div class="dropdown-content">
                  <a routerLink="/login">Login</a>
                  <a href="#forgot-password">Forgot Password</a>
                </div>
              </div>
              <div class="login-register dropdown">
                <button class="dropbtn">Register &#9660;</button>
                <div class="dropdown-content">
                  <a routerLink="/registration">Register</a>
                  <a href="#terms">Terms and Conditions</a>
                </div>
              </div>
        </div>
        </header>
    </div>
</div>